body {
  margin: 0;
  padding: 0;
}
.menu {
  padding: 0;
  margin: 0;
}

.menu li {
  float: left;
  background-color: darkgray;
  width: 150px;
  list-style: none;
}

.menu a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
}

.sub  {
  padding: 0;
  list-style: none;
}

.sub li {
  float: none;
  border-top: solid 1px  white;
}